venv/
env/
app_env/
*.pyc
__pycache__/
instance/
.DS_Store
.pytest_cache/
.coverage
htmlcov/
package-lock.json
dist/
build/
*.egg-info/
.vscode/
get-pip.py
python-giggle/
UCSC_utilities/
data/*
local/*
indices/*
output.txt
uploads/*
outputs/*
giggle/
./.ipynb_checkpoints/
./UCSC Genome Data API Retrieval.ipynb
indexing.db
giggle_log.txt
Indexing.db-journal
roadmap_sort/*
roadmap_sort/